@charset "ISO-8859-1";
body
{
background-image: url(https://wallpapercave.com/wp/huDiDyr.jpg);
background-size: cover;
background-attachment: fixed;
font-family: new time 'Times New Roman', Times, serif;
}

.spc
{
margin: 50px;
}

